*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Phetsarath OT', Arial, sans-serif;
}
header{
    position: fixed;
    top: 0px;
    background-color: #00BDFC;
    width: 100%;
    z-index: 1000;
}
.header_inner{
    display: flex;
    justify-content: space-between;
    margin-left: 5rem;
    gap: 20px;
    padding: 10px;
}

.logo img{
    object-fit: cover;
    width: 100px;
}

.menu{
    padding-top: 1rem;
    display: flex;
    gap: 5rem;
}

.menu a{
    text-decoration: none;
    font-size: larger;
    font-weight:500;
    color: #ffffff;
}
.header_link-item{
    margin-right: 15rem;
    margin-top: 1rem;
 

}

.item-link{
    background-color: #57B3FF;
    padding: 7px;
    text-decoration: none;
    color: #ffffff;
}

/* Dropdown styling */
.menu-link {
    position: relative;
    color: #ffffff;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 90px ;
}
.img-container{
    width: 100%;
    height: 300px;    
    background-position: center; 
    background-image: url("../picture/visual.jpeg");
}

.img-content img{
    width: 100%;
    height: 400px ;
}

.text-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../picture/shvets-production.jpg");
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100vw;  
    height: 600px; 
    font-size: 30px;
}

.options-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
    width: 100%;
}
.options-buttom{
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
    border: none;
    background-color: #00BDFC;
}


