*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Phetsarath OT', Arial, sans-serif;
}

section{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 60px ;
}
.support-container{
    background-color: #57B3FF;
    border-radius: 10px;
}
.support-menu{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    gap: 20px;


}
.support-center img{
    width: 300px;
}
.description p{
    width: 500px;
}
.center-grid {
    display: flex;
 }
 .card-image-container{
    display: flex;
    flex-direction: column;
 }
 
 .card-img img {
    display: flex;
    width: 200px;
    height: 150px; 
    object-fit: cover; 

 }
 