*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Phetsarath OT', Arial, sans-serif;
}
nav{
    position: fixed;
    top: 0px;
    background-color: #57B3FF;
    width: 100%;
    z-index: 1000;
}
.header_inner{
    display: flex;
    justify-content: space-between;
    margin-left: 0rem;
    gap: 20px;
    padding: 10px;
    padding-right: 50px;
}

.logo img{
    object-fit: cover;
    width: 100px;
}

.menu{
    padding-top: 1rem;
    display: flex;
    gap: 5rem;
}

.menu a{
    text-decoration: none;
    font-size: larger;
    font-weight:500;
    color: #ffffff;
}

.header_link-item{
    margin-right: 15rem;
    margin-top: 1rem;
 

}

.item-link{
    background-color: #57B3FF;
    padding: 7px;
    text-decoration: none;
    color: #ffffff;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px ;
}
.img-container{
    width: 100%;
    height: 500px;   
    background-size: cover; 
    background-position: center; 
    background-image: url("../picture/disbility1.jpg");
    background-repeat: no-repeat;
}

.img-content img{
    width: 100%;
    height: 400px ;
}

.text-image {
    display: flex;
    flex-direction: column;
    background-image: url("../picture/shvets-production.jpg");
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat; 
    width: 1520px;  
    height: 600px;    
}

.text{
    font-size: 30px;
    padding-left: 50px;
    margin-bottom: 150px;
}

.text-image h1{
    margin-bottom: 150px;
    text-align: center;
    color: #ffffff;
   
}

.text-image p{
    color: #ffffff;
}

.options-container{
    display: flex;
    justify-content:center;
    gap: 15rem;
    margin: 20px;
}
.options-buttom{
    padding: 10px;
    width: 15rem;
    background-color: #00BDFC;
    border: none;
    border-radius: 30px;
    color: #ffffff;
    font-size: 20px;
}
.options-buttom:hover{
    background-color: #57B3FF;
}

