*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-container{
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.main-text-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.center-grid {
    display: flex;
 }
 .card-image-container{
    display: flex;
    flex-direction: column;
 }
 
 .card-img img {
    display: flex;
    width: 200px;
    height: 150px; 
    object-fit: cover; 

 }
 